#main {
    display: block;
    width: 660px;
    margin: 0 auto;
    background-color: #f8f8f8;
}
.title {
    padding-top: 20px;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
}
#article {
    min-height: 660px;
}
#article-comment {
    width: 80%;
    font-size: 18px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    outline: none;
    padding: 4px;
    margin-left: 1%;
}
#article_comment_submit {
    width: 10%;
    outline: none;
}
.comment .username {
    font-size: 18px;
    margin-left: 10px;
}
.comment .content {
    margin-left: 10px;
}
.comment .time {
    float: right;
}