#main {
    display: block;
    width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    background-color: #f8f8f8;
}
.pointer {
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}
#articles {
    width: 660px;
    min-height: 500px;
    float: left;
}
#subjects {
    width: 340px;
    min-height: 500px;
    float: right;
}
