#main {
    display: block;
    width: 660px;
    margin: 0 auto;
    background-color: #f8f8f8;
}
.title {
    padding-top: 20px;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
}
.subtitle {
    width: 100%;
}
.follow {
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    border: 1px solid #50c87e;
    border-radius: 3px;
    background: none;
    color: #50c87e;
    outline: none;
}
.follow:hover {
    color: white;
    background: #50c87e;
}
.pointer {
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}
.article .username {
    font-size: 18px;
    margin-left: 10px;
}
.article .content {
    margin-left: 10px;
}
.article .time {
    margin-left: 5px;
}
.article span {
    color: #666;
}
.article .atitle {
    margin-left: 10px;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 700;
    color: black;
}
.article .right {
    margin-right: 10px;
    float: right;
}
.article .readmore {
    padding-left: 4px;
    color: #b3b3b3;
}
.user .name {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700;
}
.user .label {
    margin-left: 5px;
}
.user .follow {
    float: right;
    margin-right: 10px;
}