#main {
    display: block;
    width: 1000px;
    margin: 0 auto;
    background-color: #f8f8f8;
}
.title {
    padding-top: 20px;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
}
.subtitle {
    width: 100%;
}
#follow {
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    border: 1px solid #50c87e;
    border-radius: 3px;
    background: none;
    color: #50c87e;
    outline: none;
}
#follow:hover {
    color: white;
    background: #50c87e;
}