#main {
    display: block;
    width: 660px;
    margin: 0 auto;
    background-color: #f8f8f8;
}
.title {
    padding-top: 20px;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
}
#loadmore {
    padding: 10px;
}
#load_more_btn, #favnum {
    cursor: pointer;
}