#main {
    display: block;
    width: 660px;
    margin: 0 auto;
    background-color: #f8f8f8;
}
.title {
    padding-top: 20px;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
}
#loadmore {
    padding: 10px;
}
#load_more_btn, #favnum {
    cursor: pointer;
}
.article .username {
    font-size: 18px;
    margin-left: 10px;
}
.article .content {
    margin-left: 10px;
}
.article .time {
    margin-left: 5px;
}
.article span {
    color: #666;
}
.article .atitle {
    margin-left: 10px;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 700;
    color: black;
}
a:hover{
    text-decoration: none;
}
.article .right {
    margin-right: 10px;
    float: right;
}
.article .readmore {
    padding-left: 4px;
    color: #b3b3b3;
}
.pointer {
    cursor: pointer;
}