#main {
    display: block;
    width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    background-color: #f8f8f8;
    padding: 5px;
}
.write_input {
    width: 100%;
    background-color: transparent;
    color: black;
    border: none;
    outline: none;
}
#write_title {
    font-size: 32px;
    font-weight: 800;
}
#write_subject {
    font-size: 24px;
}
hr {
    margin-top: 10px;
    margin-bottom: 0;
}
.jquery-notebook.bubble {
    height: 78px;
}
#write_submit {
    display: block;
    width: 1000px;
    margin: 0 auto;
    padding: 5px;
}